*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}
html{
    font-size: 80%;
    overflow-x: hidden;
}
:root{
    --bg-color:#f9f7f7;
    --second-bg-color:#323946;
    --text-color:black;
    --main-color:aqua;
}
body{
    background: var(--bg-color);
    color:var(--text-color);
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: rgba(8, 220, 220, 0.82);
    font-size: 62.5%;
    
}
.header.sticky{
         border-bottom: .1rem solid rgba(0,0,0,.2);
}
.logo{
    text-decoration: none;
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
#logo1 img{
    mix-blend-mode: multiply;
    height: 50px;
    width: 50px;
}
.navbar{
    margin-left: 30vh;
}
.navbar a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
    margin-left: 3rem;
    
}
.navbar a:hover{
    color: blue
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media(max-width=991px){
 .header{
    padding: 2rem 3%;
 }
}

@media(max-width:768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left:0;
        width:100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0.5rem 1rem rgba(0,0,0,.2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
   
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}
